/* General Styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #f3e5f5; /* Light lavender */
  margin: 0;
  padding: 0;
}

header {
  background-color: #7b68ee; /* Periwinkle */
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #663399; /* Violet */
  margin: 0;
}

nav {
  margin-top: 10px;
}

nav a {
  color: #ffffff;
  background-color: #9370db; /* Lighter violet */
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  text-decoration: none;
}

nav a:hover {
  background-color: #8a2be2; /* Darker violet */
}

section {
  padding: 40px;
  background-color: #e6e6fa; /* Light lavender */
}

h2 {
  color: #483d8b; /* Darker periwinkle */
  border-bottom: 2px solid #8a2be2; /* Violet border */
  padding-bottom: 10px;
}

p,
li {
  color: #333;
}

.contact-button {
  display: inline-block;
  padding: 10px 25px;
  color: white;
  background-color: #9370db; /* Lighter violet */
  border-radius: 5px;
  text-decoration: none;
}

.contact-button:hover {
  background-color: #663399; /* Violet */
}

footer {
  background-color: #7b68ee; /* Periwinkle */
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}
